@import "./primetives.css";

nav {
    background-color: var(--surface900);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    display: none;
}

.logo {
    color: var(--surface50);
    font-weight: var(--bold);
}

.log-out {
    color: var(--surface50);
    cursor: pointer;
}

.new-post-btn {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--primory200);
}

.new-post-img {
    width: 24px;
    height: 24px;
    color: var(--surface50);
}

.footer {
    background-color: var(--surface900);
    justify-content: center;
    padding: 32px 24px;
}

footer ul, li {
    text-align: center;
    padding: 8px;
    color: var(--surface50);
    font-size: 24px;
}

@media (min-width: 320px) {
}

@media (min-width: 744px) {
    nav {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 1280px) {
    nav {
        padding-left: 72px;
        padding-right: 72px;
    }
}

@media (min-width: 1920px) {
}

