@import "./primetives.css";
@import "./header-footer.css";

main {
    background-color: var(--surface900);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one {
    background-color: var(--surface900);
    width: 320px;
    padding-bottom: 80px;
}

.header-container {
    padding: 32px 24px 0 24px;
    color: var(--surface50);
}

.group-img-container {
    display: flex;
}

.group-logo-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primory200);
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-header {
    padding: 24px 0 8px 0;
    color: var(--primory200);
}

.input {
    background-color: var(--surface800);
    border: 1px solid var(--surface50);
    height: 40px;
    width: 100%;
}

.login-btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primory200);
    border: none;
    color: var(--surface900);
    font-size: 1rem;
    font-weight: 700;
    margin-top: 24px;
}

.register-link {
    padding-top: 1rem;
    color: var(--primory200);
}

