@import "./primetives.css";
@import "./header-footer.css";

.section-one {
    background-color: var(--surface900);
}

.prev-page-container {
    padding: 24px 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.prev-page-text {
    color: var(--surface50);
}

.section-two {
    background-color: var(--surface900);
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
}

h6 {
    color: var(--surface50);
}

.edit {
    width: 100%;
}

.input-headers {
    padding: 24px 0 8px 0;
    color: var(--primory200);
}

.input {
    background-color: var(--surface800);
    color: var(--surface50);
    border: 1px solid var(--surface50);
    width: 100%;
}

.title-input {
    height: 40px;
}

.content-input {
    height: 200px;
}

.img-input {
    height: 40px;
}

.tags-input {
    height: 40px;
}

.btn-container {
    display: flex;
    padding: 24px 0 32px 0;
    gap: 24px;
}

.cancel-btn, .save-btn {
    height: 40px;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
}

.cancel-btn  {
    background-color: transparent;
    border: 1px solid var(--primory200);
    color: var(--primory200);
}

.save-btn {
    background-color: var(--primory200);
    border: none;
    color: var(--surface900);
}

