@import "./primetives.css";
@import "./header-footer.css";

main {
    background-color: var(--surface900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-one {
    background-color: var(--surface900);
}

.prev-page-container {
    padding: 24px 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.prev-page-text {
    color: var(--surface50);
}

.section-two {
    background-image: linear-gradient(var(--surface900), var(--surface800), var(--surface900));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 24px;
    width: 320px;
}

h6 {
    color: var(--surface50);
}

.edit {
    width: 100%;
}

.input-headers {
    padding: 24px 0 8px 0;
    color: var(--primory200);
}

.input {
    background-color: var(--surface800);
    color: var(--surface50);
    border: 1px solid var(--surface50);
    width: 100%;
}

.title-input {
    height: 40px;
}

.content-input {
    font-family: 'Aileron', sans-serif;
    height: 200px;
}

.img-input {
    height: 40px;
}

.tags-input {
    height: 40px;
}

.btn-container {
    display: flex;
    padding: 24px 0 32px 0;
    gap: 24px;
}

.cancel-btn, .post-btn {
    height: 40px;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.cancel-btn  {
    background-color: transparent;
    border: 1px solid var(--primory200);
    color: var(--primory200);
}

.cancel-btn-a {
    width: 100%;
}

.post-btn {
    background-color: var(--primory200);
    border: none;
}

@media (min-width: 320px) {
}

@media (min-width: 744px) {
    .section {
        padding-left: 40px;
        padding-right: 40px;
    }

    .form-container {
        width: 480px;
    }
}

@media (min-width: 1280px) {
    .section {
        padding-left: 72px;
        padding-right: 72px;
    }

    .form-container {
        width: 600px;
    }
}

@media (min-width: 1920px) {
}

