@import "./primetives.css";
@import "./header-footer.css";

main {
    background-color: var(--surface900);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-one {
    background-color: var(--surface900);
    padding: 60px 24px 286px 24px;
    width: 320px;
}

.sub-headline {
    color: var(--primory200);
    font-weight: var(--light);
}

.headline-container {
    position: relative;
}

.headline {
    font-weight: var(--bold);
    color: var(--surface50);
    position: absolute;
    z-index: 40;
}

.headline-bg {
    -webkit-text-stroke: 0.5px var(--primory200);
    color: transparent;
    position: absolute;
    z-index: 30;
    top: 16px;
    left: -4px;
}

.square-one, .square-two {
    position: absolute;
    width: 232px;
    height: 232px;
}

.square-one {
    background-color: var(--surface900);
    z-index: 20;
    top: 0;
    left: 60px;
}

.square-two {
    background-color: var(--primory200);
    z-index: 10;
    top: 24px;
    left: 84px;
}

.group-img-container {
    position: absolute;
    display: flex;
    padding-top: 168px;
    z-index: 50;
}

.group-logo-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primory200);
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

.section-two {
    background-color: var(--surface900);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
}

.arrow-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.down-arrow {
    color: var(--surface50);
    font-weight: var(--bold);
}

.section-three {
    background-color: var(--surface900);
}

.headline-latest-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 24px;
    gap: 8px;
}

.headline-latest, .sub-headline-latest {
    color: var(--surface50);
    text-align: center;
}

.sub-headline-latest {
    font-weight: var(--light);
}

.section-four {
    background-color: var(--surface900);
    position: relative;
}

.carousel {
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel.dim {
    transition: opacity 0.5s ease-in-out;
    opacity: 0.5;
}

.prev-next-bg {
    background-color: var(--primory200);
    position: absolute;
    cursor: pointer;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    top: 120px;
    z-index: 10;
}

.prev-btn {
    left: 32px;
}

.next-btn {
    right: 32px;
}

.img-container {
    height: 100%;
    width: 100%;
    padding: 0 24px 24px 24px;
}

.blog-img {
    height: 240px;
    width: 100%;
}

.title-container {
    background-color: var(--surface900);
    padding: 12px 12px;
    display: flex;
    justify-content: center;
}

.blog-title {
    color: var(--surface50);
    text-transform: uppercase;
}

.section-six {
    background-color: var(--surface50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    padding: 32px 24px 12px 24px;
    width: 320px;
}

.searchbar {
    border-color: var(--surface900);
    border-style: solid;
    height: 2rem;
}

.search-btn {
    border-width: 1px 0 1px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
}

.search-input {
    border-width: 1px 1px 1px 0;
    width: 100%;
}

.filter-container {
    width: 100%;
    padding: 0 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-filter  {
    background-color: var(--surface900);
    color: var(--surface50);
    border: none;
    height: 32px;
    padding: 0 24px;
}

.filter-dropdown {
    height: 32px;
    border-width: 1px 1px 1px 0;
}

.blogs-container {
    padding: 24px 0;
}

.section-seven {
    background-color: var(--surface50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.see-more-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
}

.see-more-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--surface900);
}

@media (min-width: 320px) {
}

@media (min-width: 744px) {
    .blogs-container {
        display: grid;
        grid-template-columns: 320px 320px;
    }
}

@media (min-width: 1280px) {
    .blogs-container {
        grid-template-columns: 320px 320px 320px;
    }
}

@media (min-width: 1920px) {
}
